{% extends 'shopfresh1/base.html' %}

{% block title %}
{{ goods_data.goods_name }}详情
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td rowspan="2">
                        <img style="width: 200px;height: 200px;" src="/static/{{ goods_data.goods_image }}" alt="{{ goods_data.goods_name }}">
                    </td>
                    <th style="text-align: center;">商品名称</th>
                    <td colspan="3">{{ goods_data.goods_name }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">商品库存</th>
                    <td>{{ goods_data.goods_number }}</td>
                    <th style="text-align: center;">商品价格</th>
                    <td>{{ goods_data.goods_price }}</td>
                </tr>
                <tr>
                    <th colspan="5" style="text-align: center;">商品说明</th>
                </tr>
                <tr>
                    <td colspan="5">{{ goods_data.goods_description|safe }}</td>
                </tr>
            </table>
            <a href="/store/goods_update/{{ goods_data.id }}" class="btn btn-facebook btn-user btn-block">修改</a>
        </div>
    </div>
{% endblock %}