{% extends 'shopfresh1/base.html' %}

{% block title %}
    注册店铺
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form class="user" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="store_name" placeholder="店铺名称">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="store_address" placeholder="店铺地址">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="store_description" placeholder="店铺描述">
            </div>
            <div class="form-group">
                <input type="file" class="form-control form-control-user" name="store_logo" placeholder="店铺logo">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="store_phone" placeholder="店铺电话">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="store_money" placeholder="注册资金">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="user_id" placeholder="店铺主人">
            </div>
            <div class="form-group">
                    <select name="type" class="form-control form-control-user">
                        {% for i in type_list %}
                            <option value="{{ i.id }}">{{ i.store_type }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-facebook btn-user btn-block" value="提交">
            </div>
        </form>
    </div>
{% endblock %}